.AboutPage_container {
    margin-top: 30px;
}
.AboutPage_bg {
    margin: 0 10%;
}

.AboutPage_text_buttons {
    display: flex;
    justify-content: space-between;
}
.AboutPage_wrap {
    margin: 20px;
}
.AboutPage_card {
    display: flex; 
    flex-flow:row-reverse;
    justify-content: space-between;
    display: flex;
    top: 20px;
    background-color: rgb(225, 225, 225);
    padding: 20px 0;
    border-radius: 20px;
}

.AboutPage_imageContainer {
     position: relative;
    width: 50%;
    height: 100%;
}

.AboutPage_text_buttons {
    margin-top: 30px;
}

.AboutPage_Card_list li {
    list-style-type: disc; 
    font-size: 18px; 
    margin-left: 20px;  
}

@media (max-width:575px) { 
    .AboutPage {
        margin: 0;
     }
     .AboutPage_bg {
        margin: 0;
    }

    .AboutPage_card {
        display: flex;
        flex-flow:column-reverse;
        justify-content: center;
        gap: 18px;
    }

    .AboutPage_imageContainer {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;    
    }
  
    .AboutPage_Card_technologyStack {
        min-width: 130px;
        font-size: 18px;
    }

    .AboutPage_Card_mainFeatures {
        font-size: 18px;
    }
    
    .AboutPage_Card_content_bg {
       margin: 0 18px 0 18px;
       gap: 18px;
    }
    .AboutPage_Card_imageContainer {
        width: 91%;
        height: 100%;   
    }
    .AboutPage_Card_image {
        max-Width: 100%;
    }
    .AboutPage_Card_projectName {
        font-size: 22px;
    }
}