.popupModalLoading {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 32%;
    height: 48%;
    border: 1px solid gray;
    background-color: gray;
    opacity: 0.9;
    border-radius: 20px;
}