.ProjectPage {
   margin: 0 10%;
}
.ProjectPage_bg {
    margin: 0 20px 20px  20px ;
}
.ProjectPage_bg h1 {
    font-size: 40px;
    margin: 0 20px 0 20px;
}
.Card_projectName {
    font-weight: 700;
    font-size: 24px;
}
.ProjectPage_container {
    display: block;
    // margin: 10px;
    position: relative;
    flex-wrap: wrap;
}
.ProjectPage_wrap {
    margin: 20px;
}
.ProjectPage_card {
    display: flex;
    top: 20px;
    background-color: rgb(225, 225, 225);
    padding: 20px 0;
    border-radius: 20px;
}
.Card_imageContainer {
    position: relative;
    width: 50%;
    height: 100%;
}
.Card_image {
    background-size: 100% 100%;
    position: relative;
    display: flex;
    max-Width: 80%;
    min-Height: 300px;
    left: 5%;
}
.Card_listContainer {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.Card_content_bg {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.Card_content {
    width: 100%;
}
.Card_btnContainer {
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: row;
    gap: 2%;
    & a {
        display: flex;
        align-items: center; 
    }
}

.Card_list li {
    list-style-type: disc; 
    font-size: 18px; 
    margin-left: 20px;
}
.Card_technologyStack {
    font-size: 18px;
}
.Card_mainFeatures {
    font-size: 18px;
}

@media (max-width:1600px) { 
    .ProjectPage {
        margin: 0;
     }
     .ProjectPage_bg {
        margin: 0 20%;
    }

    .ProjectPage_card {
      
        // flex-flow:column-reverse;
        justify-content: center;
        gap: 18px;
    }
    .Card_listContainer {
        gap: 4%;
    }
    .Card_technologyStack {
        min-width: 130px;
        font-size: 18px;
    }

    .Card_mainFeatures {
        font-size: 18px;
    }
    
    .Card_content_bg {
       margin: 0 18px 0 18px;
       gap: 18px;
    }
    .Card_imageContainer {
        width: 91%;
        height: 100%;   
    }
    .Card_image {
        max-Width: 90%; 
    }
}
@media (max-width:1200px) { 
    .ProjectPage {
        margin: 0;
     }
     .ProjectPage_bg {
        margin: 0 10%;
    }

    .ProjectPage_card {
      
        // flex-flow:column-reverse;
        justify-content: center;
        gap: 18px;
    }
    .Card_listContainer {
        gap: 4%;
    }
    .Card_technologyStack {
        min-width: 130px;
        font-size: 18px;
    }

    .Card_mainFeatures {
        font-size: 18px;
    }
    
    .Card_content_bg {
       margin: 0 18px 0 18px;
       gap: 18px;
    }
    .Card_imageContainer {
        width: 91%;
        height: 100%;   
    }
    .Card_image {
        max-Width: 90%; 
    }
}
@media (max-width:900px) { 
    .ProjectPage {
        margin: 0;
     }
     .ProjectPage_bg {
        margin: 0 ;
    }

    .ProjectPage_card {
      
        // flex-flow:column-reverse;
        justify-content: center;
        gap: 18px;
    }
    .Card_listContainer {
        gap: 4%;
    }
    .Card_technologyStack {
        min-width: 130px;
        font-size: 18px;
    }

    .Card_mainFeatures {
        font-size: 18px;
    }
    
    .Card_content_bg {
       margin: 0 18px 0 18px;
       gap: 18px;
    }
    .Card_imageContainer {
        width: 91%;
        height: 100%;   
    }
    .Card_image {
        max-Width: 90%; 
    }
}
@media (max-width:725px) { 
    .ProjectPage {
        margin: 0;
     }
     .ProjectPage_bg {
        margin: 0 10%;
    }

    .ProjectPage_card {
        flex-flow:column-reverse;
        justify-content: center;
        gap: 18px;
    }
    .Card_listContainer {
        gap: 4%;
    }
    .Card_technologyStack {
        min-width: 130px;
        font-size: 18px;
    }

    .Card_mainFeatures {
        font-size: 18px;
    }
    
    .Card_content_bg {
       margin: 0 18px 0 18px;
       gap: 18px;
    }
    .Card_imageContainer {
        width: 100%;
        height: 100%;   
    }
    .Card_image {
        max-Width: 90%; 
    }
}

@media (max-width:575px) { 
    .ProjectPage {
        margin: 0;
     }
     .ProjectPage_bg {
        margin: 0;
    }

    .ProjectPage_card {
        display: flex;
        flex-flow:column-reverse;
        justify-content: center;
        gap: 18px;
    }
    .Card_listContainer {
        gap: 4%;
    }
    .Card_technologyStack {
        min-width: 130px;
        font-size: 18px;
    }

    .Card_mainFeatures {
        font-size: 18px;
    }
    
    .Card_content_bg {
       margin: 0 18px 0 18px;
       gap: 18px;
    }
    .Card_imageContainer {
        width: 91%;
        height: 100%;   
    }
    .Card_image {
        max-Width: 100%; 
    }
}